* {
	margin: 0px;
	padding: 0px;
}

h1 {
	text-align: center;
}

.contain {
	width: 50%;
	margin:auto;
	padding:1rem;
	display: flex;
	flex-direction: column;
	border:1px solid black;
}

input,
textarea {
	width: calc(100% - 2rem);
	margin: 0.5rem auto;
	padding: 0.5rem;
	font-size: 1rem;
}

.btn {
	width:100%;
	margin: auto;
	padding: 0.3rem 1.5rem;
	font-size: 1rem;
	cursor:pointer;
}
